body {
    background-color: white;
}
.logo {
    margin-top: 40px;
    margin-bottom: 53px;
    text-align: center;
}
.logo2 {
    margin-top: 31px;
    margin-bottom: 116px;
    text-align: center;
}
.logo3 {
    margin-top: 31px;
    margin-bottom: 30px;
}
.body {
    height: 962px;
    width: 827px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(8, 15, 6);
}
.body2 {
    height: 704px;
    width: 827px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgba(8, 15, 6);
}
.body3 {
    height: 962px;
    width: 827px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.input {
    width: 597px;
    height: 53.5px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    margin-bottom: 19.5px;
    box-shadow: 2px 2px 20px rgba(8, 15, 6);
}
.transborder {
    border: 0px solid transparent;
    padding: 10px;
    width: 100%;
}
.img-inbody {
    margin-left: 18px;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
.submit {
    width: 200px;
    height: 43px;
    background-color: orangered;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 14px;
    margin-top: 40.5px;
    margin-bottom: 40px;
    padding: 10px 20px;
}
.submit-button {
    background-color: orangered;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid transparent;
    width: 200px;
    height: 43px;
    border-radius: 14px;
    font-family: nunito;
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.forgot-urpass {
    margin-bottom: 36px;
    text-decoration: none;
    color: black;
}
.signin-with {
    width: 597px;
    height: 69px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 14px;
    margin-bottom: 40px;
    margin-top: 40px;
    vertical-align: middle;
    box-shadow: 2px 2px 20px rgba(8, 15, 6);
}
.signin-button {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid transparent;
    width: 200px;
    height: 43px;
    border-radius: 14px;
    font-family: nunito;
    font-size: 18px;
    color: white;
    border: none;
    padding: 10px 20px;
}
.text-insign {
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;
    font-size: 22px;
    font-family: nunito;
    color: black;
}
.img-insign {
    margin-left: 165px;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
.text-inpass {
    font-size: 22px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.left-reg {
    width: 830px;
    height: 300px;
    background-color: white;
    text-align: left;
    float: left;
}
.right-reg {
    overflow: hidden;
    height: 1000px;
    width: 559px;
    margin-left: 830px;
    position: absolute;
    float: right;
}
.logo-reg {
    margin-top: 40px;
    margin-bottom: 53px;
    text-align: left;
    margin-left: 115px;
}
.b-reg {
    font-size: 42px;
    margin-right: 270px;
}
.p-reg {
    margin-left: 115px;
    margin-right: 130px;
    text-align: left;
    margin-bottom: 60px;
}
.transborder-reg {
    border: 0px solid transparent;
    padding: 10px;
    width: 100%;
    margin-left: 30px;
}
.checkbox {
    margin-right: 380px;
}
